@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import "components/scrollbar";
@import "components/conversations";
@import "components/conversation";
@import "components/header";
@import "components/shorthands";
@import "components/emojis";
@import "components/dimensions";
@import "components/action_button";
@import "components/no-chat-settings";

* {
  font-family: "Roboto", sans-serif;
}

:root {
  --one: #293b5f;
  --two: #47597e;
  --three: #dbe6fd;
  --four: #b2ab8c;
}

.bg-one {
  background: var(--one);
}
.bg-two {
  background: var(--two);
}
.bg-three {
  background: var(--three);
}
.bg-four {
  background: var(--four);
}

.text-one {
  color: var(--one);
}
.text-two {
  color: var(--two);
}
.text-three {
  color: var(--three);
}
.text-four {
  color: var(--four);
}
